DAY 06 (Practice)

In [1]:
import pandas as pd

In [16]:
#DataFrame
pd.DataFrame({'DAD':["Rishi","Kesh","singh"],'Mother':["Anamika","Kumari ","Singh"]})

     DAD   Mother
0  Rishi  Anamika
1   Kesh  Kumari
2  singh    Singh

In [17]:
pd.DataFrame({'DAD':["Rishi","Kesh","Singh"],'Mother':["Anamika","  ","Singh"]},index = ["First Name","Middle Name","Last Name"])

               DAD   Mother
First Name   Rishi  Anamika
Middle Name   Kesh
Last Name    Singh    Singh

In [22]:
pd.DataFrame({'Maths':[89,91],'Physics':[90,78]},index=["Sarvagya","Vasu"])

             Maths  Physics
   Sarvagya     89       90
Vasu            91       78

In [26]:
pd.DataFrame({'Maths':[89,91],'Physics':[90,78]},index=[1,2])

   Maths  Physics
1     89       90
2     91       78

In [27]:
#Series
pd.Series([6,8,4,9,4])

0    6
1    8
2    4
3    9
4    4
dtype: int64

In [32]:
pd.Series([6,8,4,9,4],index =['1','2','3','4','5'])

1    6
2    8
3    4
4    9
5    4
dtype: int64

In [33]:
pd.Series([6,8,4,9,4],[7,5,4,9,2])

7    6
5    8
4    4
9    9
2    4
dtype: int64

In [34]:
pd.Series([6,8,4,9,4],[7,5,4,9,2]),index =['1','2','3','4','5'])

SyntaxError: unmatched ')' (1719657478.py, line 1)

In [37]:
import pandas as pd
fruits = pd.DataFrame({"Apples":[30],"Bananas":[21]})

# Check your answer

print(fruits)

   Apples  Bananas
0      30       21